binding.gyp
bindings/node/binding.cc 
bindings/node/index.js
bindings/rust/build.rs
bindings/rust/lib.rs
Cargo.lock
Cargo.toml
log.html
node_modules/
src/grammar.json
src/node-types.json
src/parser.c
src/tree_sitter/parser.h
