name: CI

on:
  push:
    branches: [master]
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp
  pull_request:
    paths:
      - grammar.js
      - src/**
      - test/**
      - bindings/**
      - binding.gyp

concurrency:
  group: ${{github.workflow}}-${{github.ref}}
  cancel-in-progress: true

jobs:
  test:
    name: Test parser
    runs-on: ${{matrix.os}}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-14]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Set up tree-sitter
        uses: tree-sitter/setup-action/cli@v2
        with:
          tree-sitter-ref: v0.25.8 # Match version in package.json
      - name: Set up examples
        run: |-
          git clone https://github.com/stcarrez/ada-util.git examples/ada-util --single-branch --depth=1 --filter=blob:none
      - name: Run tests
        uses: tree-sitter/parser-test-action@v2
        with:
          abi-version: 14 # Match ABI version used in package.json "generate" script
          generate: true
          test-parser: true
          test-rust: true
          test-node: false
          test-python: true
          test-go: true
          test-swift: false
      - name: Parse examples
        uses: tree-sitter/parse-action@v4
        with:
          files: examples/**/*.ad[bs]
